<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautybliss - Category Products</title>
    <link rel="stylesheet" href="/css/shopbycategory.css">

</head>
<body>

    <%- include ('partials/header.ejs') %>

    <div class="hero">
        <h2>Explore Our Exclusive Range of Beauty Products</h2>
        <p>Discover the best in skincare, makeup, haircare, and more.</p>
      </div>

    <h2 class="category-title">Discover the Best in <%= category.name.split('_').map(word =>
            word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></h2>

    <div class="main-container">
        <div class="products-container">
            <% products.forEach(product => { %>
                <div class="product-card">
                    <img src="<%= product.image %>" alt="<%= product.name %>" />
                    <% if (product.stock < 20) { %>
                        <div class="ribbon">Low Stock!</div>
                    <% } %>
                    <h3><%= product.name %></h3>
                    <p class="price">₹<%= product.price %></p>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>
</body>
</html>
